@font-face {
    font-family: 'Alibaba Sans';
    src: url('fonts/alibaba-sans/AlibabaSans-Regular.woff2') format('woff2'),
         url('fonts/alibaba-sans/AlibabaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Alibaba Sans';
    src: url('fonts/alibaba-sans/AlibabaSans-Regular.woff2') format('woff2'),
         url('fonts/alibaba-sans/AlibabaSans-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  body {
    font-family: 'Alibaba Sans', sans-serif;
  }
  body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Alibaba Sans', sans-serif !important;
  }

