@font-face {
    font-family: 'Alibaba Sans';
    src: url('fonts/alibaba-sans/AlibabaSans-Regular.woff2') format('woff2'),
         url('fonts/alibaba-sans/AlibabaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Alibaba Sans';
    src: url('fonts/alibaba-sans/AlibabaSans-Regular.woff2') format('woff2'),
         url('fonts/alibaba-sans/AlibabaSans-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  body {
    font-family: 'Alibaba Sans', sans-serif;
  }
  body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Alibaba Sans', sans-serif !important;
  }

.home-cover {
  background-image: url('../img/photo_2024-10-27_19-22-40.png'); /* 根据您的实际路径调整 */
  background-size: cover; /* 使背景图像覆盖整个区域 */
  background-position: center; /* 中心对齐 */
  height: 400px; /* 设置封面图的高度 */
  width: 100%; /* 设置宽度为100% */
  display: flex;
  align-items: center;
  justify-content: center; /* 居中内容 */
  color: white; /* 设置文本颜色为白色 */
  font-size: 2rem; /* 设置文本大小 */
}

  